.hero {
    margin-top: 25px;
    margin-left: 310px;
    margin-bottom: 25px;
    background-size: cover;
}

.menu-kitchen {
    background: #42a8a8;
}

.menu-items {
    margin-left: 5pt;
    list-style: none;
    font-family: book antique;
}

.menu-item {
}

.menu-section-title {
    font-family: book antique;
    margin-left: 430px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}

.menu-item + .menu-item {
    margin-top: 15px;
    font-family: book antique;
    margin-left: 440px;
}

.menu-item-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #000;
    font-family: book antique;
    margin-left: 435px;
    margin-top: 10px;
}

.menu-item-desc,.menu-item-pairing {
    margin: 0;
    font-style: italic;
}

.menu-item-desc {
    font-size: 12px;
    margin-left: 480px;
}

.menu-item-pairing {
    font-size: 10px;
    font-weight: 700;
    color: #42a8a8;
    margin-left: 140px;
}

.pairing-type {
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-left: 350px;
}

.directions-title {
    font-family: book antique;
    font-weight: 700;
    font-size: 25px;
    margin-left: 760px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.directions-location {
    font-family: book antique;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 300px;
    margin-bottom: 10px;
}

.image-bar {
    margin-top: 20px;
    margin-left: 280px;
}

.directions-links {
    font-family: book antique;
    font-size: 28px;
    margin-left: 180px;
    margin-top: 10px;
}

.directions-number {
    font-family: book antique;
    font-size: 22px;
    margin-left: 300px;
}

.directions-reservation {
    font-family: book antique;
    font-size: 30px;
    font-weight: 700;
    margin-left: 200px;
}

.directions-reservation-links {
    font-family: book antique;
    font-size: 20px;
    margin: ;
    margin-left: 240px;
}

.about-title {
    font-family: book antique;
    font-size: 30px;
    margin-left: 850px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about {
    font-family: book antique;
    font-size: 20px;
    text-align: center;
    margin-left: 400px;
    margin-right: 550px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.about1 {
    font-family: book antique;
    font-size: 25px;
    text-align: center;
    margin-left: 400px;
    margin-right: 550px;
}

.chefs-title {
    font-family: book antique;
    font-size: 25px;
    margin-left: 850px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.chef-item-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #000;
    font-family: book antique;
    margin-left: 100px;
    margin-top: 10px;
}

.chef-item-desc,.chef-item-pairing {
    margin: 0;
    font-style: italic;
}

.chef-item-desc {
    font-size: 12px;
    margin-left: 120px;
}

.chef-item-pairing {
    font-size: 10px;
    font-weight: 700;
    margin-left: 100px;
    text-align: left;
    margin-right: 100px;
}

.ending-footer {
    font-family: book antique;
    margin-left: 500px;
    letter-spacing: 4px;
    word-spacing: 15px;
    font-size: 10px;
    margin-right: 500px;
}